@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-container {
  background-color: #000000;
  height: 100vh;
  margin: 0;
}

.bg-container > .home > nav {
  display: flex;
  justify-content: space-evenly;
}

.bg-container > .home > nav > h1 {
  font-family: "New Amsterdam", sans-serif;
  font-size: 38px;
  color: #fff;
  animation: App-logo-spin infinite 20s linear;
  font-weight: 500;
}

.list-container {
  list-style-type: none;
  display: flex;
}

.list-item-text {
  text-decoration: none;
  margin-left: 20px;
  font-family: "New Amsterdam", sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: 500;
}
.list-item-text:hover {
  color: #f00;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(2.2);
  transition: transform 0.3s ease-in-out;
}
.home {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.name {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 150px;
  text-align: center;
}
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.description {
  font-size: 35px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: #fff;
}
.about {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes fadeInandOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.role {
  font-size: 30px;
  font-weight: 500;
  animation: fadeInandOut 2s ease-in-out infinite;
  color: #fff;
}
.about-page {
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-heading {
  font-family: "New Amsterdam", " sans-serif";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
.about-page-description {
  font-size: 23px;
  font-weight: 450;
  margin-top: 20px;
  font-family: "Fira Sans", sans-serif;
  align-self: center;
}
.about-page > a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 60px;
}
.about-page > a:hover {
  text-decoration: none;
}
.projects-page {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.projects-heading {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  transition: transform 0.5s ease-in-out;
  overflow:auto;
  scrollbar-width: 1px;
}
.slider > button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(171, 170, 170);
  font-size: 50px;
  cursor: pointer;
}
.Contact {
  height: 40vh;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.social > a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #000000;
}

.social > a:hover {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.project-links {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.project-links > a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #000000;
}

.project-links > a:hover {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.contact-info {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.contact-info > p {
  text-decoration: none;
  color: #000000;
}

.contact-info > p:hover {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.contact-info > a {
  text-decoration: none;
  color: #000000;
}
.contact-info > a:hover {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .Contact {
    flex-direction: column;
    text-align: center;
  }

  .social,
  .project-links,
  .contact-info {
    text-align: center;
    margin-bottom: 20px;
  }
}
